:root {
	--bgtime: 1s;
	--clrtime: 1s;
}

.light {
	--bg: #fafafa;
	--bg-sec: white;
	--text: black;
}

.dark {
	--bg-sec: #2b3743;
	--bg: #202d36;
	--text: white;
}

.app {
	transition: background var(--bgtime) ease, color var(--clrtime) ease;
	background: var(--bg);
	min-height: 100vh;
	color: var(--text);
}
